name: jpackage
on:
  push:
    branches:
      - master

jobs:
  package:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        arch: [amd64]
        include:
          - os: macos-latest
            arch: aarch64


    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 25

      - name: Install Gradle (Windows)
        if: runner.os == 'Windows'
        run: choco install gradle --no-progress

      - name: Make Gradle wrapper executable
        if: runner.os != 'Windows'
        run: chmod +x ./gradlew

      - name: Build project
        shell: bash
        run: |
          if [ "${{ runner.os }}" == "Windows" ]; then
            gradle shadowJar
          else
            ./gradlew shadowJar
          fi

      - name: Download JavaFX SDK (macOS aarch64)
        if: runner.os == 'macOS' && matrix.arch == 'aarch64'
        run: |
          mkdir -p ./lib/aarch64
          curl -L -o openjfx.zip https://download2.gluonhq.com/openjfx/25.0.1/openjfx-25.0.1_osx-aarch64_bin-sdk.zip
          unzip openjfx.zip -d ./lib/aarch64

      - name: Build macOS amd64 dmg
        if: runner.os == 'macOS' && matrix.arch == 'amd64'
        run: |
          jpackage \
              --input build/libs \
              --main-jar cogfly-1.0.jar \
              --name "Cogfly_amd64" \
              --type dmg \
              --vendor "Ambershadow" \
              --icon ./icons/icon.icns \
              --app-version 1.0 \
              --dest output/${{ runner.os }}-${{ matrix.arch }}

      - name: Build macOS aarch64 dmg
        if: runner.os == 'macOS' && matrix.arch == 'aarch64'
        run: |
          jpackage \
              --input build/libs \
              --main-jar cogfly-1.0.jar \
              --name "Cogfly_aarch64" \
              --type dmg \
              --vendor "Ambershadow" \
              --module-path ./lib/aarch64/javafx-sdk-25.0.1/lib \
              --add-modules javafx.controls,javafx.swing \
              --icon ./icons/icon.icns \
              --app-version 1.0 \
              --dest output/${{ runner.os }}-${{ matrix.arch }}

      - name: Build MSI
        if: runner.os == 'Windows' && matrix.arch == 'amd64'
        run: |
          jpackage `
            --input build/libs `
            --main-jar cogfly-1.0.jar `
            --name Cogfly_amd64 `
            --type msi `
            --vendor "Ambershadow" `
            --icon ./icons/icon.ico `
            --app-version 1.0 `
            --dest output/${{ runner.os }}-${{ matrix.arch }} `
            --win-menu `
            --win-shortcut
      - name: Build EXE
        if: runner.os == 'Windows' && matrix.arch == 'amd64'
        run: |
          jpackage `
            --input build/libs `
            --main-jar cogfly-1.0.jar `
            --name Cogfly_amd64 `
            --type exe `
            --vendor "Ambershadow" `
            --icon ./icons/icon.ico `
            --app-version 1.0 `
            --dest output/${{ runner.os }}-${{ matrix.arch }} `
            --win-menu `
            --win-shortcut

      - name: Build DEB
        if: runner.os == 'Linux' && matrix.arch == 'amd64'
        run: |
          jpackage \
            --input build/libs \
            --main-jar cogfly-1.0.jar \
            --name Cogfly_amd64 \
            --type deb \
            --vendor "Ambershadow" \
            --icon ./icons/icon.png \
            --app-version 1.0 \
            --dest output/${{ runner.os }}-${{ matrix.arch }} \
      - name: Build app-image folder
        if: runner.os == 'Linux' && matrix.arch == 'amd64'
        run: |
          mkdir -p output/appimage
          jpackage \
            --input build/libs \
            --main-jar cogfly-1.0.jar \
            --name Cogfly_amd64 \
            --type app-image \
            --vendor "Ambershadow" \
            --icon ./icons/icon.png \
            --app-version 1.0 \
            --dest output/appimage

      - name: Prepare AppDir
        if: runner.os == 'Linux' && matrix.arch == 'amd64'
        run: |
          cp ./icons/icon.png output/appimage/Cogfly_amd64/
          cp ./Cogfly.desktop output/appimage/Cogfly_amd64/

      - name: Install AppImageTool
        if: runner.os == 'Linux' && matrix.arch == 'amd64'
        run: |
          wget https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage -O appimagetool
          chmod +x appimagetool

      - name: Build final .AppImage
        if: runner.os == 'Linux' && matrix.arch == 'amd64'
        run: |
          ./appimagetool output/appimage/Cogfly_amd64 output/${{ runner.os }}-${{ matrix.arch }}/Cogfly_amd64.AppImage

      - uses: actions/upload-artifact@v4
        with:
          name: Cogfly-${{ runner.os }}-${{ matrix.arch }}
          path: output/${{ runner.os }}-${{ matrix.arch }}/*