name: jpackage
on:
  push:
    branches:
      - master

jobs:
  package:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-15-intel ]
        arch: [amd64]
        include:
          - os: macos-latest
            arch: aarch64


    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: liberica
          java-version: 25
          architecture: ${{ matrix.arch }}

      - name: Make Gradle wrapper executable
        if: runner.os != 'Windows'
        run: chmod +x ./gradlew

      - name: Build project
        shell: bash
        run: |
          if [ "${{ runner.os }}" == "Windows" ]; then
            ./gradlew.bat clean buildForArch -Pname=Windowsamd64
          else
            ./gradlew clean buildForArch -Pname=${{runner.os}}${{matrix.arch}}
          fi

      - name: Build macOS amd64 dmg
        if: runner.os == 'macOS' && matrix.arch == 'amd64'
        run: |
          jpackage \
              --input build/libs \
              --main-jar cogfly-1.0.jar \
              --name "Cogfly" \
              --type dmg \
              --vendor "Ambershadow" \
              --icon ./icons/icon.icns \
              --app-version 1.0 \
              --dest output/${{ runner.os }}-${{ matrix.arch }}

      - name: Build macOS aarch64 dmg
        if: runner.os == 'macOS' && matrix.arch == 'aarch64'
        run: |
          jpackage \
              --input build/libs \
              --main-jar cogfly-1.0.jar \
              --name "Cogfly" \
              --type dmg \
              --vendor "Ambershadow" \
              --icon ./icons/icon.icns \
              --app-version 1.0 \
              --dest output/${{ runner.os }}-${{ matrix.arch }}

      - name: Build MSI
        if: runner.os == 'Windows' && matrix.arch == 'amd64'
        run: |
          jpackage `
            --input build/libs `
            --main-jar cogfly-1.0.jar `
            --name Cogfly `
            --type msi `
            --vendor "Ambershadow" `
            --icon ./icons/icon.ico `
            --app-version 1.0 `
            --dest output/${{ runner.os }}-${{ matrix.arch }} `
            --win-menu `
            --win-shortcut
      - name: Build EXE
        if: runner.os == 'Windows' && matrix.arch == 'amd64'
        run: |
          jpackage `
            --input build/libs `
            --main-jar cogfly-1.0.jar `
            --name Cogfly `
            --type exe `
            --vendor "Ambershadow" `
            --icon ./icons/icon.ico `
            --app-version 1.0 `
            --dest output/${{ runner.os }}-${{ matrix.arch }} `
            --win-menu `
            --win-shortcut

      - name: Build DEB
        if: runner.os == 'Linux' && matrix.arch == 'amd64'
        run: |
          jpackage \
            --input build/libs \
            --main-jar cogfly-1.0.jar \
            --name Cogfly \
            --type deb \
            --vendor "Ambershadow" \
            --icon ./icons/icon.png \
            --app-version 1.0 \
            --dest output/${{ runner.os }}-${{ matrix.arch }} \
          

      - name: Build APPIMAGE
        if: runner.os == 'Linux' && matrix.arch == 'amd64'
        run: |
          mkdir -p output/appimage
          jpackage \
            --input build/libs \
            --main-jar cogfly-1.0.jar \
            --name Cogfly \
            --type app-image \
            --vendor "Ambershadow" \
            --icon ./icons/icon.png \
            --app-version 1.0 \
            --dest output/appimage
          cp ./icons/icon.png output/appimage/Cogfly/
          cp ./Cogfly.desktop output/appimage/Cogfly/
          sudo apt update
          wget -q https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage -O appimagetool
          chmod +x appimagetool
          export APPIMAGE_EXTRACT_AND_RUN=1
          ./appimagetool output/appimage/Cogfly output/${{ runner.os }}-${{ matrix.arch }}/Cogfly.AppImage

      - uses: actions/upload-artifact@v4
        with:
          name: Cogfly-${{ runner.os }}-${{ matrix.arch }}
          path: output/${{ runner.os }}-${{ matrix.arch }}/*